<!-- BEGIN_MODAL -->
<div id='itemContainer' data-item-id='<%= @item.id %>'>
  <ul id='itemTypePicker'>
    <li class='PickerItem Icon <%= "Selected" if @item.type == "Task" %>' data-type='Task'>&#xE807;</li>  <!-- Task -->
    <li class='PickerItem Icon <%= "Selected" if @item.type == "Event" %>' data-type='Event'>&#xE805;</li>  <!-- Event -->
    <li class='PickerItem Icon <%= "Selected" if @item.type == "Note" %>' data-type='Note'>&#xE806;</li>  <!-- Message -->
  </ul>
  <span class='Checkbox Icon <%= "Checked" if (@item.status == "Completed") %>' id='itemCheckbox'><%= (@item.status == 'Completed') ? '&#xE807;'.html_safe : '&#xE808;'.html_safe %></span> 
  <h1 id='itemName'><%= @item.name %></h1>
  <p id='setTimesPrompt'><span class='Icon'>&#xE80A;</span> Set start and end times&hellip;</p>
  <div id='setTimesFields'>
    <input type='text' id='startTimeField' placeholder='Start (YYYY-MM-DD-HH-mm)' />
    <input type='text' id='endTimeField' placeholder='End (YYYY-MM-DD-HH-mm)' />
  </div>
  <hr />
  <button class='btn <%= "Hidden" if @item.subitems.count > 0 %>' id='addSubItemsButton'>Add Subitems</button>
  <div class='<%= "Hidden" if !@item.subitems || @item.subitems.count <= 0 %>' id='subitems'>
    <ol id='subitemsList'>
      <% @item.subitems.each do |s| %>
        <li><%= link_to s.name, s %></li>
      <% end %>
    </ol>
    <input type='text' name='item[name]' id='item_name' placeholder='Item name' />
  </div>
  <hr />
  <ul id='itemFollowers'>
    <% @item.all_followers.each do |f| %>
      <li class='ItemFollowerInitials'><%= f.initials %></li>
    <% end %>
  </ul>
</div>
<!-- END_MODAL -->